<ul class="sub-nav">
  <li class='first step1 disabled-nav-item'>
    {{#link-to "index" activeClass="active"}}<span>1</span> Model{{/link-to}}
  </li>
  <li class='step2 disabled-nav-item'>
    {{#link-to "hotTub.selectJets" activeClass="active"}}<span>2</span> Jets{{/link-to}}
  </li>
  <li class='step3 disabled-nav-item'>
    {{#link-to "hotTub.selectColors" activeClass="active"}}<span>3</span> Colors{{/link-to}}
  </li>
  <li class='step4 disabled-nav-item'>
    {{#link-to "hotTub.selectOptions" activeClass="active"}}<span>4</span> Options{{/link-to}}
  </li>
  <li class='step5 disabled-nav-item'>
    {{#link-to "hotTub.setUserDetails" activeClass="active"}}<span>5</span> Quote{{/link-to}}
  </li>
  <li class='step6 disabled-nav-item'>
    {{#link-to "hotTub.personalize" activeClass="active"}}<span>6</span> Visualize &amp; Share{{/link-to}}
  </li>
</dl>
