<div class='sidebar-nav'>
  <ul class="button-group">
    <li></li>
    <li class="right">
      <a {{action 'nextStep'}} class="inactive next-button tiny button-right" onClick="ga('send', 'event', 'DYOTool', 'NextButton', 'Model-Step1', 1);">
        <span class="square">next</span><span class="triangle">▲</span>
      </a>
    </li>
  </ul>
</div>
