<div class='sidebar-nav'>
  <ul class="button-group">
    <li class="right">
      <a href="http://thermospas.com/get-free-site-inspection/" class="tiny button-right pulse finish"  target="_blank" onClick="ga('send', 'event', 'DYOTool', 'NextButton', 'Personalize-Step6', 1);">
        <span class="square">finish</span><span class="triangle">▲</span>
      </a>
    </li>
  </ul>

  <button {{action 'startOver'}} class="start-over">start over</button>
</div>
