<div class='sidebar-nav'>
  <ul class="button-group">
    <li class="left">
      <button {{action 'previousStep'}} class="tiny button-left">
        <span class="square">back</span><span class="triangle">▲</span>
      </button>
    </li>
    <li class="right">
      <a class="tiny button-right inactive">
        <span class="square">next</span><span class="triangle">▲</span>
      </a>
    </li>
  </ul>

  <button {{action 'startOver'}} class="start-over">start over</button>
</div>
