<div class='sidebar-nav'>
  <ul class="button-group">
    <li class="left">
      <button class="tiny button-left inactive">
        <span class="square">back</span><span class="triangle">▲</span>
      </button>
    </li>
    <li class="right">
      <a class="tiny button-right inactive">
        <span class="square">next</span><span class="triangle">▲</span>
      </a>
    </li>
  </ul>
</div>
